extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Ut ut volutpat lacus. Praesent in mattis tortor, in posuere nulla. Praesent id felis vel ipsum tempor tempor non at ante. Pellentesque molestie feugiat turpis tempor lobortis. Aliquam sed mollis magna. Vivamus vulputate tempus mauris. Integer lorem urna, consequat sit amet dapibus et, cursus bibendum mi.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a leo eu enim semper tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            .col-md-6   
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nostros", class="img-fluid")
        include ./layout/bloque_viajes

    .descuento  
        .container 
            .row    
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio $2,500 USD
    
    .container  
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales

